@use "./styles/mixins" as *;
@use "./styles/variables" as *;

@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

article {
    padding: $spacing-600 $spacing-300;
}

button {
    width: 100%;
    padding: $spacing-200 $spacing-600;
    background-color: $blue-800;
    border-radius: $spacing-100;
    border: none;
    color: $white;
    @use text-style(12px, $line-height: 150%);
}