@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: hsl(234, 29%, 20%);
  font-size: clamp(11.52px, 4vw, 16px);
  line-height: 150%;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

main {
  background: white;
}

picture img {
  width: 100%;
}

section {
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

button {
  width: 100%;
  padding: 16px 48px;
  background-color: hsl(234, 29%, 20%);
  border-radius: 8px;
  border: none;
  color: hsl(0, 100%, 100%);
  font-size: clamp(8.64px, 4vw, 12px);
  line-height: 150%;
  font-weight: 700;
}
button:hover {
  background: linear-gradient(to left, hsl(12, 100%, 61%), hsl(346, 100%, 66%));
}

h1 {
  font-size: clamp(40.32px, 4vw, 56px);
  line-height: 100%;
  font-weight: 700;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
ul li {
  gap: 16px;
  display: flex;
}
ul li::before {
  content: url("./assets/images/icon-list.svg");
  margin-top: 1px;
}

form {
  display: grid;
  grid-template-areas: "label error" "input input" "button button";
}
form input {
  margin-top: 8px;
  padding: 16px 24px;
  border: 1px solid hsl(0, 0%, 58%);
  border-radius: 8px;
  grid-area: input;
  color: hsl(0, 0%, 58%);
}
form input:focus {
  border-color: hsl(234, 29%, 20%);
  color: hsl(234, 29%, 20%);
}

label {
  grid-area: label;
  justify-self: first baseline;
  font-size: clamp(8.64px, 4vw, 12px);
  line-height: 150%;
  font-weight: 700;
}

button {
  grid-area: button;
  margin-top: 24px;
}

#email-error {
  grid-area: error;
  font-size: clamp(8.64px, 4vw, 12px);
  line-height: 150%;
  font-weight: 700;
  text-align: right;
  color: hsl(4, 100%, 67%);
}

.invalid {
  border-color: hsl(4, 100%, 67%);
  color: hsl(4, 100%, 67%);
  background-color: hsl(2, 100%, 95%);
}
.invalidspan::after {
  position: relative;
  content: "Valid email required";
}

#success-check {
  height: 64px;
  width: 64px;
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(4, 100%, 67%);
}

@media screen and (min-width: 768px) {
  body {
    background: hsl(234, 29%, 20%);
  }
  main {
    border-radius: 32px;
    padding: 40px;
    margin: 80px;
  }
  article {
    padding: 0;
  }
  picture img {
    border-radius: 16px;
    width: 100%;
    justify-self: center;
  }
  #article__success-message {
    width: 504px;
    height: 520px;
  }
  .attribution {
    color: white;
  }
}
@media screen and (min-width: 1024px) {
  body {
    align-items: center;
    justify-content: center;
  }
  #article__form {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    gap: 64px;
    align-items: center;
  }
  section {
    gap: 32px;
    display: flex;
    flex-direction: column;
  }
  picture {
    height: 100%;
    width: auto;
  }
}/*# sourceMappingURL=styles.css.map */