//Colors
$white: hsl(0, 100%, 100%);
$grey: hsl(0, 0%, 58%);
$blue-800: hsl(234, 29%, 20%);
$blue-700: hsl(235, 18%, 26%);
$red: hsl(4, 100%, 67%);
$gradient-4: linear-gradient(hsl(12, 100%, 61%), hsl(346, 100%, 66%));

//Spacing
$spacing-100: 8px;
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-900: 72px;
$spacing-1300: 104px;